<div class="column is-half">

  <form class="field has-addons is-grouped is-grouped-centered" action="/filter" method="post">
    <div class="control">
      <select name="category">
        <option value="Science">Science</option>
        <option value="Sport">Sport</option>
        <option value="Art">Art</option>
        <option value="Education">Education</option>
        <option value="Music">Music</option>
        <option value="Relax">Relax</option>
      </select>
      <input class="input" name="id" type="hidden" value=<%=@user.id%>>
    </div>
    <div class="control">
      <button type="submit" class="button is-link">Filter</<button>
    </div>
  </form>

  <form class="field has-addons is-grouped is-grouped-centered" action="/search" method="post">
    <div class="control">
      <input class="input" name="title" type="text" placeholder="Find a posts">
      <input class="input" name="id" type="hidden" value=<%=@user.id%>>
    </div>
    <div class="control">
      <button type="submit" class="button is-link">Search</<button>
    </div>
  </form>

  <% if current_user.username == @user.username %>
  <article class="media box">
    <div class="media-content">
      <%= render 'articles/form' %>
    </div>
  </article>
  <% end %>

    <% @articles.each do | article | %>
      <div class="box">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <strong><%= article.user.name %></strong><br>
              <small><%= '@' + article.user.username %></small><br>
              <small><%= 'Category:' + article.category %></small><br>
              <strong><p style="text-align:center;"><%= article.title %></p></strong>
              <p><%= article.body %></p>
              <% if article.image.attached? %>
                <%= image_tag article.image, style: "width: 100%; display: block" %>
              <% end %>
            </div>

            <nav class="level">
              <div class="level-left is-mobile">

                <%= link_to article_comments_path(article), class: "level-item" do %>
                  <span class="icon">
                    <i class="fa fa-comment" aria-hidden="true"></i>
                  </span>
                <% end %>

                <% if current_user.username == article.user.username %>
                  <%= link_to edit_article_path(article), class: "level-item" do %>
                    <span class="icon">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </span>
                  <% end %>

                  <%= link_to article, method: :delete, data: { confirm: "Are you really want to delete this post?"} do %>
                    <span class="icon">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </span>
                  <% end %>
                <% end %>

              </div>
            </nav>
          </div>
        </article>
      </div>
      <% end %>
    <%= will_paginate @articles %>
</div>
